@model CookingApp.Features.MainPage.Models.MainViewModel
@functions
{
    private static string GetSubstring(string n)
    {
        if (n == null || n.Length < 30)
            return n;
        return n.Substring(0, n.Length > 120 ? 120 : n.Length) + " ...";
    }
}

<!DOCTYPE html>

<html>
<head>
    <title>For review</title>
</head>
<body>
    <div class="body-content">
        <h3 class="header-block">New posts for review</h3>
        <div class="posts-container">
            @foreach (var recipe in Model.Recipes)
            {
                <tr>
                    <div class="card bg-light mb-3">
                        <img src="@Url.Content(recipe.ImagePath)" class="card-img-top">
                        <div class="card-body">
                            <h5 class="card-title">@recipe.Title</h5>
                            <h6 class="card-subtitle mb-2 text-muted">@DateTime.FromBinary(recipe.CreationDate) @recipe.Username</h6>
                            <p class="card-text">@GetSubstring(recipe.Content)</p>
                            <a class="btn btn-primary" href="~/Review/Show/@recipe.Id">Show</a>
                        </div>
                    </div>
                </tr>
            }
        </div>
    </div>
</body>
</html>